@model List<AppRole>

@{
    ViewData["Title"] = "Rol İşlemleri";
}

<a asp-action="Add" class="btn btn-success mb-2">Yeni Rol Ekle</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Rol Adı</th>
            <th>Rol Güncelle</th>
            <th>Rol Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var role in Model)
        {
            <tr>
                <th>@role.Id</th>
                <td>@role.Name</td>
                <td><a asp-action="Update" asp-route-id="@role.Id" class="btn btn-warning">Güncelle</a></td>
                <td><a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Sil</a></td
            </tr>
        }
    </tbody>
</table>
