@model RoleUpdateDTO


<h1 class="mb-2">Rol Düzenle</h1>


<form method="POST" asp-action="Update">
    
    <input type="hidden" asp-for="Id" />
    <div class="mb-2">
        <label asp-for="Name">Rol Adı</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <button class="btn btn-success">Rolü Güncelle!</button>
</form>