@model UserEditViewModel
    
<section>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Profil Güncelle </h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis font-medium-3"></i></a>

                </div>
                <div class="card-content collapse show">
                    <div class="card-body">

                        <form method="POST" asp-action="Update" asp-controller="Profile" enctype="multipart/form-data">
                            <div>
                                <label class="form-label">Adınız</label>
                                <input asp-for="Name" class="form-control" />
                            </div>
                            <div>
                                <label class="form-label">Adınız</label>
                                <input asp-for="Surname" class="form-control" />
                            </div>
                            <div>
                                <label class="form-label">Telefon Numarası</label>
                                <input asp-for="PhoneNumber" class="form-control" />
                            </div>
                            <div>
                                <label class="form-label">Email</label>
                                <input asp-for="Email" class="form-control" />
                            </div>
                            <div>
                                <label class="form-label">Şifre</label>
                                <input asp-for="Password" class="form-control" />
                            </div>
                            <div>
                                <label class="form-label">Şifre Onayla</label>
                                <input asp-for="ConfrimPassword " class="form-control" />
                            </div>

                            <div>
                                <label class="form-label">Profil Resmi</label>
                                @if (Model.ImageUrl != null)

                                {
                                    <img src="~/user-images/@Model.ImageUrl" />
                                }
                                <input type="file" asp-for="Image" class="form-control" />
                            </div>



                            <button type="submit" class="btn btn-success mt-4">Güncelle</button>
                        </form>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
