@model NavbarInfoViewModel

<li class="dropdown dropdown-user nav-item">
    <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">             <span class="avatar avatar-online"><img src="/@Model.ImageUrl" alt="avatar"><i></i></span></a>
    <div class="dropdown-menu dropdown-menu-right">
        <div class="arrow_box_right">
            <a class="dropdown-item" href="#">
                <span class="avatar avatar-online">
                    <img src="/@Model.ImageUrl" alt="avatar"><span class="user-name text-bold-700 ml-1">
                        @{
                            var name = Model.Name.Length > 7 ? Model.Name.Substring(0, 7) + "..." : Model.Name;
                            @name
                        }
                    </span>
                </span>
            </a>
            <div class="dropdown-divider"></div><a class="dropdown-item" asp-action="Update" asp-controller="Profile"><i class="ft-user"></i> Profili Güncelle</a>

            <div class="dropdown-divider"></div><a class="dropdown-item" asp-action="Logout" asp-controller="Login"><i class="ft-power"></i> Çıkış Yap</a>
        </div>
    </div>
</li>