@using _Traversal.Areas.Member.Models.Dashboard;
@model List<DashboardLastDestinationsViewModel>;

@{
    var desc = "";
}

@section Css{
            qwdqlwkmdqwlknlwqkdnlwqndlkqw
    <style>
        .img-cover {
            object-fit: cover !important;
            width: 100% !important;
            max-height: 150px;
        }
    </style>
}




<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Son Rotalar</h4>
                <h6 class="card-subtitle text-muted">Son eklenen 4 rotamızı sizin için listeliyoruz.</h6>
            </div>
            <div id="carousel-area" class="carousel slide" data-ride="carousel">
                @{
                    int count = 1;
                    string active = "active";
                }
                <ol class="carousel-indicators">
                @foreach (var item in Model)
                {
                   
                        <li data-target="#carousel-area" data-slide-to="@count" class="@active"></li>
                        active = "";
                        count++;
                    }
                </ol>


                
                <div class="carousel-inner" role="listbox">
                    @{
                        string activeImg = "active";
                        string link = "";
                    }
                    @foreach(var item in Model)
                    {
                         link = Url.Action("Detail", "Destination", new { id = item.DestinationId });

                        <div class="carousel-item @activeImg" onclick="window.location.href='@link'" style="cursor:pointer">
                            <img src="@item.CoverImage" class="d-block w-100" alt="slide-img">
                        </div>
                        activeImg = "";
                    }

                </div>
                <a class="carousel-control-prev" href="#carousel-area" role="button" data-slide="prev">
                    <span class="la la-angle-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-area" role="button" data-slide="next">
                    <span class="la la-angle-right icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
        </div>
       
    </div>
</div>
