@model AnnouncementAddDTO

<form asp-action="Add" asp-controller="Announcement" method="post">

    <div class="mb-2">
        <label class="form-label">Başlık</label>
        <input class="form-control" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label class="form-label">İçerik</label>
        <textarea class="form-control" asp-for="Content" cols="" rows="4"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>

    </div>

    <button type="submit" class="btn btn-success mt-4">Ekle</button>
</form>