@model Breadcrumb
<div class="content-wrapper-before"></div>
<div class="content-header row">
    <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">@Model.Title</h3>
    </div>
    <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Dashboard">Ana Sayfa</a>
                    </li>

                    @if (Model.HasSubTitle)
                    {
                        <li class="breadcrumb-item active">
                            @Model.SubTitle
                        </li>
                    }
                    
                </ol>
            </div>
        </div>
    </div>
</div>