<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
    Member Page - Traversal
</title>


<link rel="apple-touch-icon" href="~/member/theme-assets/images/ico/apple-icon-120.png">
<link rel="shortcut icon" type="image/x-icon" href="~/member/theme-assets/images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i%7CComfortaa:300,400,700" rel="stylesheet">
<link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="~/member/theme-assets/css/vendors.css">

<link rel="stylesheet" type="text/css" href="~/member/theme-assets/css/app-lite.css">

<link rel="stylesheet" type="text/css" href="~/member/theme-assets/css/core/menu/menu-types/vertical-menu.css">



<link rel="stylesheet" type="text/css" href="~/member/theme-assets/css/core/colors/palette-gradient.css">

<style>
    .img-cover {
        max-height: 250px;
        width: 100%;
        object-fit: cover;
    }
</style>