@using _Traversal.Areas.Member.Helpers;



<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand mr-lg-5" asp-action="Index" asp-controller="Default">
                    Traversal
                </a>
            </h1>

            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item @MenuHelper.IsActiveMenu(ViewContext,"Default")">
                        <a class="nav-link" asp-action="Index" asp-controller="Default">Ana Sayfa <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item @MenuHelper.IsActiveMenu(ViewContext,"Destination")">
                        <a class="nav-link" asp-action="Index" asp-controller="Destination">Rotalar</a>
                    </li>
                    <li class="nav-item @MenuHelper.IsActiveMenu(ViewContext,"Guide")">
                        <a class="nav-link" asp-action="Index" asp-controller="Guide">Rehberlerimiz</a>
                    </li>
                    <li class="nav-item @MenuHelper.IsActiveMenu(ViewContext,"Contact")">
                        <a class="nav-link" asp-action="Index" asp-controller="Contact">İletişim</a>
                    </li>

                </ul>
            </div>
            <div class="d-lg-block d-none">
                <a href="contact.html" class="btn btn-style btn-secondary">İletişime Geç</a>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>