<h1>Excel Raporları Sayfası</h1>

<br />

<a asp-action="StaticExcelReport" class="btn btn-outline-info">Statik Excel Raporları</a>
<a asp-action="DestinationExcelReport" class="btn btn-outline-info">Rota Excel Raporu</a>