@model List<Guide>




<div class="col-xl-4 col-lg-12">
    <div class="card">
       
           
          
    
        <div class="card-content">
            <div class="card-body">
                <h4 class="card-title">Tur Rehberlerimiz</h4>
                <h6 class="card-subtitle text-muted">Sizin için seçkin tur rehberlerimiz ile hizmet veriyoruz.</h6>
                <a class="heading-elements-toggle">
                    <i class="fa fa-ellipsis-v font-medium-3"></i>
                </a>
            </div>
            <div id="recent-buyers" class="media-list">

                @if (!Model.Any())
                {
                    <h3>Henüz hiçbir rehber eklenmemiş.</h3>
                }
                else
                {
                    @foreach (var g in Model)
                    {

                        <a href="#" class="media border-0 pb-0">
                            <div class="media-left pr-1">
                                <span class="avatar avatar-md ">
                                    <img class="media-object rounded-circle fix-img" src="/@g.Image" alt="Generic placeholder image" style="aspect-ratio:1/1;object-fit:contain">
                                    
                                </span>
                            </div>
                            <div class="media-body w-100">
                                <span class="list-group-item-heading">
                                    @g.Name

                                </span>
                             
                                <p class="list-group-item-text mb-0">
                                    <span class="blue-grey lighten-2 font-small-3"> @g.Description </span>
                                </p>
                            </div>
                        </a>

                    }
                }
                
            </div>
        </div>
    </div>
</div>
