@using _Traversal.Models.Login;
@model ForgetPasswordViewModel

<div class="d-flex justify-content-center" style="min-height:100vh;">
    <form method="POST" style="margin-top:150px">

        @if (TempData["kullaniciBulunamadi"] != null)
        {
            <div class="alert alert-danger">@TempData["kullaniciBulunamadi"]</div>
        }
        @if (TempData["mailBasarili"] != null)
        {
            <div class="alert alert-success">@TempData["mailBasarili"]</div>
            
            @section Scripts{
            <script>
                setTimeout(function () {
                    window.location.href="@Url.Action("Index","Default")";
                   
                }, 7000);
            </script>
            }
           

        }

        <p>Şifrenizi yenilemek istediğiniz e-mail adresini girin.</p>
        <div class="mb-2">
            <label asp-for="Email">E-Mail</label>
            <input type="email" class="form-control" asp-for="Email" />
        </div>

        <button class="btn btn-success">Gönder</button>
    </form>
</div>

