
@using _Traversal.Models.Login
@model ResetPasswordViewModel

<div class="d-flex justify-content-center" style="min-height:100vh;">
    <form method="POST" style="margin-top:150px">

        

        <p>Lütfen formdaki bilgileri doldurun.</p>
        <div class="mb-2">
            <label class="form-label" asp-for="Password">Şifre</label>
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label class="form-label" asp-for="RePassword">Şifreyi Onayla</label>
            <input type="password" class="form-control" asp-for="RePassword" />
            <span asp-validation-for="RePassword" class="text-danger"></span>

        </div>

        <button class="btn btn-success">Şifremi Yenile</button>
    </form>
</div>

