@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer;

<!DOCTYPE html>
<html lang="tr">

<head>
    @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_HeadPartial.cshtml")
    @await RenderSectionAsync("Css",required:false)
</head>

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_AsidePartial.cshtml")
    @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_NavbarPartial.cshtml")



    <div class="app-content content">
        <div class="content-wrapper">

            @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_BreadcrumbPartial.cshtml",
            new Breadcrumb{
            Title = ViewBag.Breadcrumb.Title ,
            HasSubTitle =ViewBag.Breadcrumb.HasSubTitle,
            SubTitle=ViewBag.Breadcrumb.SubTitle}
            )
            <div class="content-body">

                @localizer["OnaylananRezervasyon"]
                @RenderBody()
            </div>
        </div>
    </div>




    @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_FooterPartial.cshtml")
    <cache>
        @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_ScriptPartial.cshtml")
    </cache>
    @await RenderSectionAsync("Scripts",required:false)
</body>

</html>
