
<!DOCTYPE html>
<html lang="tr">

<head>
    @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_HeadPartial.cshtml")
    @await RenderSectionAsync("Css",required:false)
</head>

<body class="g-sidenav-show  bg-gray-100">
     @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_AsidePartial.cshtml")
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        <!-- Navbar -->
        @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_NavbarPartial.cshtml")
        <!-- End Navbar -->
        <div class="container-fluid py-4">
            @RenderBody()
            @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_FooterPartial.cshtml")
        </div>
    </main>
    @await Html.PartialAsync("~/Areas/Member/Views/Shared/LayoutPartial/_ScriptPartial.cshtml")
    @await RenderSectionAsync("Scripts",required:false)
</body>

</html>

